<p>User {{.Item.Username}} requested an email association.</p>
<p>Email: {{.Item.Email}}</p>
<p>Reason: {{.Item.Reason}}</p>
<p><a href="{{.UserURL}}">User page</a></p>
<p><a href="{{.UnsubscribeUrl}}">Manage notifications</a></p>
