<p>Hi {{.Item.Username}},</p>
<p>An administrator has reset your password.</p>
<p>Your new password is <strong>{{.Item.Password}}</strong>.</p>
<p><a href="{{.UnsubscribeUrl}}">Manage notifications</a></p>
