<p>Hi {{.Item.Username}},</p>
<p>Your forum thread has been created successfully.</p>

<p><a href="{{.Item.ThreadURL}}">View thread</a></p>
<p><a href="{{.UnsubscribeUrl}}">Manage notifications</a></p>
