<p>Hi {{.Item.Username}},</p>
<p>Use code <b>{{.Item.Code}}</b> when logging in with your new password.</p>
<p>If you didn't request this change, you can ignore this email.</p>

{{/* TODO add URL back to item here */}}
<p><a href="{{.UnsubURL}}">Manage notifications</a></p>
