<!DOCTYPE html>
<html>
<body>
<p>Hello,</p>
<p>A new user {{.Item.Username}} has registered at {{ formatLocalTime (localTime .Item.Time) }}.</p>
<p>Please add them to the user group to approve the account.</p>
<p>Review the account <a href="{{.URL}}">here</a>.</p>
<p><a href="{{.UnsubscribeUrl}}">Manage notifications</a></p>
{{- if .SignOff}}
<p>{{.SignOffHTML}}</p>
{{- end}}
</body>
</html>
