<p>Hi {{.Item.Username}},</p>
<p>You requested a password reset. Click the link below to set a new password:</p>

<p><a href="{{.Item.ResetURL}}">Reset password</a></p>

<p>This link is valid for 24 hours.</p>
