{{ define "writingsCategoryPage" }}
    {{ template "head" $ }}
        {{ template "writingCategoryBreadcrumbs" $ }}
        {{ template "listWritingCategories" $ }}
        {{ template "listAbstracts" $ }}
    {{ template "tail" $ }}
{{ end }}
