{{ define "privateforum/topics_only.gohtml" }}
    {{ template "head" $ }}
<link rel="stylesheet" href="{{ assetHash "/forum/forum.css" }}">
<script src="{{ assetHash "/forum/forum.js" }}"></script>
    <h1>Private Topics</h1>
    {{ if cd.CurrentError }}
        <p class="error-message">{{ cd.CurrentError }}</p>
    {{ end }}
    {{ template "tableTopics" (dict "Topics" cd.PrivateTopics "BasePath" "/private" "IsAdmin" (and cd.IsAdmin cd.IsAdminMode)) }}
    {{ template "tail" $ }}
{{ end }}
