



<html>
<head>
    <title>Arran4's Website</title>
    {{ template "headdata" }}
</head>
<body>
    <a NAME="top">
    <table border=0 width=95%>
        <tr valign=top>
            <td width=200px>
                <hr>
                {{ template "indexItems" . }}
                <hr>
                {{ template "adminTools" . }}
            </td>
            <td>
                <hr>Admin tools:<br>
                <a href="?section=users">Person Pontrols</a><br>
                <a href="?section=permissions">Permission Pontrols</a><br>
                <a href="?section=language">Language Lontrols</a><br>
                <a href="?section=search">Search Sontrols</a><br>
                <a href="?section=forum">Forum Fontrols</a><br>
            <hr>
            <td>
            {{ template "userPermissionsTable" . }}
            </td>
        </tr>
    </table>
    <hr>
    <center>
        <i>All content is copyrighted to their respected authors</i>
    </center>
    <a NAME="bottom">
</body>
</html>
