{{ define "newsPage" }}
    {{ template "head" $ }}
        {{ range LatestNews }}
            {{ template "newsPost" . }}
        {{ else }}
            <p>There is no news.</p>
        {{ end }}
    {{ template "tail" $ }}
{{ end }}
