{{ template "head" $ }}
    <h2 class="section-title">{{ .Username }}'s links.</h2>
    {{ template "getAllLinkerItemsByCategoryIdWitherPosterUsernameAndCategoryTitleDescendingLinks" $ }}
{{ template "tail" $ }}
