{{ define "getAllLinkerCategories" }}
    Please select a category:<br>
    <a href="/linker">All</a><br>
    {{- range cd.LinkerCategoriesForUser }}
        <a href="/linker/category/{{ .ID }}">{{ .Title.String }}</a><br>
    {{- else }}
        <em>No categories</em><br>
    {{- end }}
    <br>
{{ end }}
