{{ template "head" $ }}
{{- if .TemplateError }}
<p style="color:red;">{{ .TemplateError }}</p>
{{- end }}
<form method="post">
    {{ csrfField }}
    <input type="hidden" name="name" value="{{ .TemplateName }}">
    <textarea name="body" cols="60" rows="15">{{ .TemplateOverride }}</textarea><br>
    <input type="submit" name="task" value="Update">
    <input type="submit" name="task" value="Delete">
</form>
<h3>Default</h3>
<pre>{{ .DefaultTemplate }}</pre>
{{ template "tail" $ }}
