{{ template "partials/head.gohtml" $ }}
    [<a href="/admin">Admin:</a> <a href="/admin/forum/modlog">(This page/Refresh)</a>]<br />
Moderator logs will appear here.
{{ template "partials/tail.gohtml" $ }}
