{{ template "head" $ }}
<div>[<a href="/admin">Admin:</a> <a href="/admin/languages">(This page/Refresh)</a>]</div>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{range cd.Languages}}
    <tr>
        <td>{{.ID}}</td>
        <td><a href="/admin/languages/language/{{.ID}}">{{.Nameof.String}}</a></td>
    </tr>
    {{end}}
</table>
<p><a href="/admin/languages/new">Create Language</a></p>
{{ template "tail" $ }}
