{{ template "head" $ }}
[<a href="/admin">Admin:</a> <a href="/admin/languages">(This page/Refresh)</a>]<br />
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{range cd.Languages}}
    <tr>
        <td>{{.Idlanguage}}</td>
        <td><a href="/admin/languages/language/{{.Idlanguage}}">{{.Nameof.String}}</a></td>
    </tr>
    {{end}}
</table>
<p><a href="/admin/languages/new">Create Language</a></p>
{{ template "tail" $ }}
