{{ template "head" $ }}
<h2>{{ cd.PageTitle }}</h2>
<form method="post">
    {{ csrfField }}
    <label>Name:<input name="cname"></label>
    <input type="submit" name="task" value="Create Language">
</form>
<p><a href="/admin/languages">Back</a></p>
{{ template "tail" $ }}
