{{ template "head" $ }}
<table class="table table-bordered">
    <tr><th>Time</th><th>Username</th><th>IP</th></tr>
    {{- range cd.AdminLoginAttempts }}
    <tr>
        <td>{{ cd.FormatLocalTime .CreatedAt }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .IpAddress }}</td>
    </tr>
    {{- end }}
</table>
{{ template "tail" $ }}
