{{ template "partials/head.gohtml" $ }}
<table border="1">
    <tr><th>Time</th><th>Username</th><th>IP</th></tr>
    {{- range .Attempts }}
    <tr>
        <td>{{ .CreatedAt }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .IpAddress }}</td>
    </tr>
    {{- end }}
</table>
{{ template "partials/tail.gohtml" $ }}
