{{ template "head" $ }}
<h1>Maintenance Task Preview</h1>
<div style="margin-bottom: 20px;">
    <p>{{ .Message }}</p>
</div>
<a href="/admin/maintenance">Back to Maintenance</a>
{{ template "tail" $ }}
