{{ template "head" $ }}
[<a href="/admin">Admin:</a> <a href="/admin/search/list">Word List</a>]<br />
Jump to:
{{ range $.Letters }} <a href="/admin/search/list?letter={{.}}">{{ . }}</a> {{ end }}<br />
{{ if $.CurrentLtr }}Showing words starting with "{{ $.CurrentLtr }}"{{ end }}
<ul>
{{ range $.Rows }}
    <li>{{ .Word.String }} - {{ .Count }}</li>
{{- end }}
</ul>
{{ template "tail" $ }}
