{{ template "head" $ }}
<h2>Images by {{ .User.Username.String }}</h2>
<table border="1">
    <tr><th>ID</th><th>Date</th><th>Board</th><th>Link</th></tr>
    {{- range .Posts }}
    <tr>
        <td>{{ .Idimagepost }}</td>
        <td>{{ .Posted }}</td>
        <td>{{ .ImageboardIdimageboard }}</td>
        <td><a href="/imagebbs/post/{{ .Idimagepost }}">View</a></td>
    </tr>
    {{- end }}
</table>
{{ template "tail" $ }}
