package templates

import "github.com/arran4/goa4web/core/common"

@Head(cd, $)

if $.Errors {

    Errors occurred:
    <ul>
    for _, item := range $.Errors {

        <li>{ data }</li>
    }

    </ul>
} else {

    New password: { data.Password }
}

<a href="{ data.Back }">Back</a>
@Tail(cd, $)
