{{ template "head" $ }}
<p>Are you sure you want to reset the password for user {{ .User.Username.String }}?</p>
<form method="post">
    {{ csrfField }}
    <button type="submit" name="task" value="Password Reset">Reset password</button>
</form>
<p><a href="{{ .Back }}">Cancel</a></p>
{{ template "tail" $ }}
