{{- define "index"}}
    {{- template "indexItems" $ }}
    {{- template "userPanel" $ }}
    {{- /* Default group items (GroupID == "") */ -}}
    {{- range $i := cd.SortedCustomIndexItems }}
        {{- if eq $i.GroupID "" }}
            {{ if ne $i.TemplateName "" }}
                {{ include $i.TemplateName $i.TemplateData }}
            {{ else }}
                <a href="{{ addmode $i.Link }}" style="text-decoration: none;">{{ if $i.Icon }}{{ $i.Icon }}&nbsp;{{ end }}<span style="text-decoration: underline;">{{ $i.Name }}</span></a><br>
            {{ end }}
        {{- end }}
    {{- end }}

    {{- /* Grouped items */ -}}
    {{- range $group := cd.SortedCustomIndexGroups }}
        {{- $hasItems := false }}
        {{- range $i := cd.SortedCustomIndexItems }}
            {{- if eq $i.GroupID $group.ID }}
                {{- $hasItems = true }}
            {{- end }}
        {{- end }}

        {{- if $hasItems }}
            <div {{ if $group.ClickToShow }}class="folded-toggle" data-target="group-{{ $group.ID }}"{{ end }} {{ if $group.ItalicTitle }}style="font-style: italic;"{{ end }}>{{ $group.Name }}</div>
            <div id="group-{{ $group.ID }}" {{ if $group.ClickToShow }}class="folded-items hidden"{{ end }}>
                {{- range $i := cd.SortedCustomIndexItems }}
                    {{- if eq $i.GroupID $group.ID }}
                        {{ if ne $i.TemplateName "" }}
                            {{ include $i.TemplateName $i.TemplateData }}
                        {{ else }}
                            <a href="{{ addmode $i.Link }}" style="text-decoration: none;">{{ if $i.Icon }}{{ $i.Icon }}&nbsp;{{ end }}<span style="text-decoration: underline;">{{ $i.Name }}</span></a><br>
                        {{ end }}
                    {{- end }}
                {{- end }}
            </div>
        {{- end }}
    {{- end }}
    {{ if cd.HasAdminRole }}
        {{ if cd.AdminMode }}
            <a href="{{ addmode "/admin" }}" style="text-decoration: none;">⚙️&nbsp;<span style="text-decoration: underline;">Admin Dashboard</span></a><br>
        {{ end }}
    {{ end }}
{{- end}}
