{{ define "linkerCategoryPage" }}
    {{ template "partials/head.gohtml" $ }}
        {{ template "getAllLinkerItemsByCategoryIdWitherPosterUsernameAndCategoryTitleDescendingLinks" $ }}
    {{ template "partials/tail.gohtml" $ }}
{{ end }}
