{{ template "partials/head.gohtml" $ }}
    <font size="5">{{ .Username }}'s links.</font><br>
    {{ template "getAllLinkerItemsByCategoryIdWitherPosterUsernameAndCategoryTitleDescendingLinks" $ }}
{{ template "partials/tail.gohtml" $ }}
