{{ template "head" $ }}
<ul>
    <li><a href="/admin/linker/categories">Categories ({{ .CategoryCount }})</a></li>
    <li><a href="/admin/linker/links">Links ({{ .LinkCount }})</a></li>
</ul>
{{ template "tail" $ }}
