{{ template "head" $ }}
    <h2 class="font-size-5">{{ .Username }}'s links.</h2><br>
    {{ template "getAllLinkerItemsByCategoryIdWitherPosterUsernameAndCategoryTitleDescendingLinks" $ }}
{{ template "tail" $ }}
