    {{ template "head" $ }}
        {{ template "getAllLinkerCategories" $ }}
        {{ template "getAllLinkerItemsByCategoryIdWitherPosterUsernameAndCategoryTitleDescendingLinks" $ }}
    {{ template "tail" $ }}
