{{ define "mark_as_read_form" }}
<form action="{{ .Action }}" method="post" class="inline-form">
    {{ csrfField }}
    <input type="hidden" name="task" value="Mark Thread Read"/>
    <input type="hidden" name="back" value="{{ .Back }}"/>
    <button type="submit" class="link-button">{{ .Label }}</button>
</form><br>
{{ end }}
