{{ template "partials/head.gohtml" $ }}
    {{ template "threadBreadcrumbs" $ }}
    {{ template "threadComments" $ }}
    {{ template "forumReply" $ }}

    <a href="/forum/topic/{{.Topic.Idforumtopic}}">Back</a>

{{ template "partials/tail.gohtml" $ }}