{{ template "head" $ }}
    {{ template "threadComments" }}
    {{ template "forumReply" $ }}

    {{ $base := "/forum" }}
    {{ with .BasePath }}{{ $base = . }}{{ end }}
    <a href="{{$base}}/topic/{{.Topic.Idforumtopic}}">Back</a>

{{ template "tail" $ }}
