{{ template "partials/head.gohtml" $ }}
    {{ template "topicBreadcrumbs" $ }}

    {{ template "getAllForumCategories" $ }}

    <a href="/forum/topic/{{.Topic.Idforumtopic}}/thread">New Thread</a>
    {{- if .CanEditAny }} | <a href="/forum/admin/topic/{{.Topic.Idforumtopic}}/edit">Edit Topic</a>{{ end }}<br />

    {{ template "topicThreads" $ }}
{{ template "partials/tail.gohtml" $ }}