{{ template "head" $ }}
<h4>Unanswered Questions</h4>
{{ template "adminQuestionTable" (cd.FAQUnansweredQuestions) }}

<h4>FAQ Questions</h4>

{{ template "adminQuestionTable" (cd.FAQAnsweredQuestions) }}

<h4>Dismissed Questions</h4>
{{ template "adminQuestionTable" (cd.FAQDismissedQuestions) }}

<p><a href="/admin/faq/question/0/edit">Create New Question</a></p>

{{ template "tail" $ }}
