{{ template "head" $ }}
<h1>Questions in {{ .Category.Name.String }}</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Options</th>
    </tr>
    {{- range .Questions }}
    <tr>
        <td><a href="/admin/faq/question/{{ .ID }}/edit">{{ .ID }}</a></td>
        <td>{{ .Question }}</td>
        <td><a href="/admin/faq/question/{{ .ID }}/edit">Edit</a></td>
    </tr>
    {{- end }}
</table>
{{ template "tail" $ }}
