{{ template "partials/head.gohtml" $ }}
<h2>Bookmarks</h2>
<p>Bookmarks let you maintain a personalised list of links organised by category and column. This feature is available once you create an account and log in.</p>
<p><a href="/register">Create an account</a> or <a href="/login">log in</a> to manage your bookmarks.</p>
{{ template "partials/tail.gohtml" $ }}
