{{ define "categoryBreadcrumbs" }}
    [
        <a href="/forum">Forum:</a>
        {{ range .CategoryBreadcrumbs }}
            <a href="/forum/categories/category/{{.Idforumcategory}}">{{if eq $.Category.Idforumcategory .Idforumcategory}}(This category/Refresh){{else}}{{.Title.String}}{{end}}</a>{{if ne $.Category.Idforumcategory .Idforumcategory}}:{{end}}
        {{ end }}
    ]<br />
{{ end }}
