{{ template "partials/head.gohtml" $ }}
<form method="post">
    {{ csrfField }}
    Username: <input name="username"><br>
    New Password: <input name="password" type="password"><br>
    <input type="submit" name="task" value="Password Reset">
</form>
{{ template "partials/tail.gohtml" $ }}
