{{- define "headdata"}}
    {{ if $.FeedsEnabled }}
        {{ if $.RSSFeedURL }}
            <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{$.RSSFeedURL}}">
        {{ end }}
        {{ if $.AtomFeedURL }}
            <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{$.AtomFeedURL}}">
        {{ end }}
    {{ end }}
{{- end}}
