{{ template "partials/head.gohtml" $ }}
    {{- if $.Error }}
    <p style="color:red">{{ $.Error }}</p>
    {{- end }}
    Login:<br>
    <form method="post">
        {{ csrfField }}
        Username: <input name="username"><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" name="task" value="Login">
        <br><a href="/forgot">Forgot password?</a>
    </form>
{{ template "partials/tail.gohtml" $ }}

