<!DOCTYPE html>
<html>
<head>
	<meta property="og:title" content="{{.Title}}" />
	<meta property="og:description" content="{{.Description}}" />
	{{.ImageMeta}}
	{{.SecureImageMeta}}
	{{.ImageWidthMeta}}
	{{.ImageHeightMeta}}
	{{.URLMeta}}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{.Title}}" />
	<meta name="twitter:description" content="{{.Description}}" />
	{{if .TwitterSite}}<meta name="twitter:site" content="{{.TwitterSite}}" />{{end}}
	{{.TwitterImageMeta}}
	{{if .RedirectURL}}<meta http-equiv="refresh" content="0;url={{.RedirectURL}}" />{{else}}<meta http-equiv="refresh" content="0;url={{.ContentURL}}" />{{end}}
</head>
<body>
	<h1>Redirecting...</h1>
	<p>If you are not redirected automatically, <a href="{{if .RedirectURL}}{{.RedirectURL}}{{else}}{{.ContentURL}}{{end}}">click here</a>.</p>
</body>
</html>
