package templates

import "github.com/arran4/goa4web/core/common"

@Head(cd, $)

if cd.CurrentError {

<p class="text-error">{ cd.CurrentError }</p>
}

<form method="post" action="/login/verify">
    { csrfField }
    <input type="hidden" name="id" value="{ data.ID }">
    Code: <input name="code"><br>
    New Password: <input name="password" type="password"><br>
    <input type="submit" name="task" value="Password Verify">
</form>
@Tail(cd, $)
