package templates

import "github.com/arran4/goa4web/core/common"

@Head(cd, $)

<p>Your password reset request has been sent to the administrator. They will review it and contact you.</p>
@Tail(cd, $)
