{{ template "head" $ }}
<form method="post" action="/login/verify">
    {{ csrfField }}
    Code: <input name="code">
    <input type="submit" name="task" value="Password Verify">
</form>
{{ template "tail" $ }}
