{{ template "partials/head.gohtml" $ }}
<form action="{{.BackURL}}" method="{{.Method}}">
    {{ range $key, $vals := .Values }}
        {{ range $vals }}
            <input type="hidden" name="{{$key}}" value="{{.}}">
        {{ end }}
    {{ end }}
    <input type="submit" value="Go Back">
</form>
{{ template "partials/tail.gohtml" $ }}

