{{ template "head" $ }}
{{- if cd.CurrentError }}
<p style="color:red">{{ cd.CurrentError }}</p>
{{- end }}
Register:<br>
<form method="post">
        {{ csrfField }}
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br>
    EmailAdr: <input name="email"><br>
    <input type="submit" name="task" value="Register">
</form>
{{ template "tail" $ }}