{{ define "getAllLinkerCategories" }}
    Please select a category:<br>
    <a href="/linker">All</a><br>
    {{- range .Categories }}
        <a href="/linker/category/{{ .Idlinkercategory }}">{{ .Title.String }}</a><br>
    {{- end }}
    <br>
{{ end }}
