{{ define "subBoards" }}
        {{ if .Boards }}
            <font size="4">{{ if .IsSubBoard }}Sub-{{ end }}Boards:</font><br>
            <table>
                {{ range .Boards }}
                    <tr>
                        <th><a href="/imagebbs/board/{{ .Idimageboard }}">{{ .Title.String }}</a>
                        <td>{{ .Description.String }}
                {{ end }}
            </table><br>
        {{ end }}
{{ end }}
