{{define "tail"}}
    {{ if cd.Marked "body-table-end" }}
            </main>
        </div>
        <div id="bottom"></div>
        <hr>
        <footer class="site-footer">
            <center>
                {{template "footer"}}
            </center>
        </footer>
    {{ end }}
    {{ if cd.Marked "bodyEnd" }}
        </body>
    {{ end }}
{{ if cd.Marked "html-end" }}
</html>
{{ end }}
{{end}}
