{{define "tail"}}
		</table>
		<div id="bottom"></div>
                <hr>
                <footer class="site-footer">
                        <center>
                                {{template "footer"}}
                        </center>
                </footer>
        </body>
</html>
{{end}}