{{define "tail"}}
    {{ if cd.Marked "body-table-end" }}
            {{ template "pagination" . }}
            </main>
        </div>
        <div id="bottom"></div>
        <hr>
        <footer class="site-footer">
            {{template "footer"}}
        </footer>
    {{ end }}
    {{ if cd.Marked "bodyEnd" }}
        {{ template "keyboard_shortcuts" }}
        </body>
    {{ end }}
{{ if cd.Marked "html-end" }}
</html>
{{ end }}
{{end}}
