{{ template "head" $ }}
{{- if $.Error }}
<p class="text-error">{{ $.Error }}</p>
{{- end }}
{{- if $.BackURL }}
<button onclick="history.back()">Return to editing</button>
{{- end }}
{{ template "tail" $ }}
