{{ define "threadComments" }}
    {{ if gt (cd.Offset) 0 }}
        <br>Skipping {{ cd.Offset }} comments.<br><br><br>
    {{ end }}
    {{ range $.Comments }}
        {{ template "comment" . }}
    {{ else }}
        No comments.
    {{ end }}
{{ end }}
