{{ define "threadBreadcrumbs" }}
    [
        <a href="/forum">Forum:</a>
        {{ range .CategoryBreadcrumbs }}
            <a href="/forum/category/{{.Idforumcategory}}">{{.Title.String}}</a>:
        {{ end }}
        <a href="/forum/topic/{{.Topic.Idforumtopic}}">{{.Topic.Title.String}}</a>:
        <a href="/forum/topic/{{.Topic.Idforumtopic}}/thread/{{.Thread.Idforumthread}}">(This thread/Refresh)</a>
    ]<br />
{{ end }}