{{ define "threadComments" }}
    {{ if gt (cd.Offset) 0 }}
        <br>Skipping {{ cd.Offset }} comments.<br><br><br>
    {{ end }}
    <section class="comments">
        {{ $prev := 0 }}
        {{ $base := "/forum" }}
        {{ with .BasePath }}{{ $base = . }}{{ end }}
        {{ $topicID := 0 }}
        {{ if .Topic }}{{ $topicID = .Topic.Idforumtopic }}{{ end }}
        {{ $threadID := 0 }}
        {{ if .Thread }}{{ $threadID = .Thread.Idforumthread }}{{ end }}
        {{ $replyCounts := .ReplyThreadCounts }}
        {{ $totalReplyThreads := .TotalReplyThreads }}

        {{ range $i, $c := cd.SelectedSectionThreadComments }}
            {{ $num := add (add $i 1) (cd.Offset) }}
            <hr id="c{{ $num }}">

            {{ $forkCount := 0 }}
            {{ if $replyCounts }}
                {{ if index $replyCounts $c.Idcomments }}
                    {{ $forkCount = index $replyCounts $c.Idcomments }}
                {{ end }}
            {{ end }}

            {{ $forkListURL := "" }}
            {{ if and (gt $topicID 0) (gt $threadID 0) }}
                {{ $forkListURL = printf "%s/topic/%d/thread/%d/replies#comment-%d" $base $topicID $threadID $c.Idcomments }}
            {{ end }}

            {{ template "comment" (dict "Comment" $c "Number" $num "Prev" $prev) }}
            {{ if $forkCount }}
                <div class="forked-banner" style="color: #666; font-size: 0.9em; margin-top: 5px; margin-bottom: 15px; border-left: 2px solid #ccc; padding-left: 10px;">
                    <em>Forked here:</em>
                    {{ range $index, $fork := index cd.ForkPreviews $c.Idcomments }}
                        <a href="{{ $base }}/topic/{{ $topicID }}/thread/{{ $fork.Idforumthread }}">Thread #{{ $fork.Idforumthread }}</a> by {{ $fork.Firstpostusername.String }} {{ timeAgo (cd.LocalTime $fork.Firstpostwritten.Time) }},
                    {{ end }}
                    <a href="{{ $forkListURL }}">See all {{ $forkCount }} replies</a>
                </div>
            {{ end }}
            {{ $prev = $c }}
        {{ else }}
            No comments.
        {{ end }}
    </section>
{{ end }}
