{{ define "threadComments" }}
    {{ if gt (cd.Offset) 0 }}
        <br>Skipping {{ cd.Offset }} comments.<br><br><br>
    {{ end }}
    <section class="comments">
        {{ $prev := 0 }}
        {{ $base := "/forum" }}
        {{ with .BasePath }}{{ $base = . }}{{ end }}
        {{ $topicID := 0 }}
        {{ if .Topic }}{{ $topicID = .Topic.Idforumtopic }}{{ end }}
        {{ $threadID := 0 }}
        {{ if .Thread }}{{ $threadID = .Thread.Idforumthread }}{{ end }}
        {{ $replyCounts := .ReplyThreadCounts }}
        {{ $totalReplyThreads := .TotalReplyThreads }}

        {{ range $i, $c := cd.SelectedSectionThreadComments }}
            {{ $num := add (add $i 1) (cd.Offset) }}
            <hr id="c{{ $num }}">

            {{ $forkCount := 0 }}
            {{ if $replyCounts }}
                {{ if index $replyCounts $c.Idcomments }}
                    {{ $forkCount = index $replyCounts $c.Idcomments }}
                {{ end }}
            {{ end }}

            {{ $forkListURL := "" }}
            {{ if and (gt $topicID 0) (gt $threadID 0) }}
                {{ $forkListURL = printf "%s/topic/%d/thread/%d/replies#comment-%d" $base $topicID $threadID $c.Idcomments }}
            {{ end }}

            {{ template "comment" (dict "Comment" $c "Number" $num "Prev" $prev) }}
            {{ if $forkCount }}
                <div class="forked-banner" style="background-color: #f0f8ff; padding: 10px; margin-top: 15px; margin-bottom: 15px; border-left: 4px solid #0066cc;">
                    <strong>Forked conversations &mdash; {{ $forkCount }} total</strong><br>
                    <div style="padding-left: 10px; margin-top: 5px; margin-bottom: 5px;">
                        {{ range $index, $fork := index cd.ForkPreviews $c.Idcomments }}
                            &bull; <a href="{{ $base }}/topic/{{ $topicID }}/thread/{{ $fork.Idforumthread }}">{{ if gt (len $fork.FirstPostText.String) 50 }}{{ slice $fork.FirstPostText.String 0 50 }}...{{ else }}{{ $fork.FirstPostText.String }}{{ end }}</a> &mdash; last reply by {{ $fork.LastPosterName.String }} &mdash; {{ cd.LocalTime $fork.Lastaddition.Time }} &mdash; {{ $fork.Comments.Int32 }} comments<br>
                        {{ end }}
                    </div>
                    <a href="{{ $forkListURL }}">View all {{ $forkCount }} forked conversations &rarr;</a>
                </div>
            {{ end }}
            {{ $prev = $c }}
        {{ else }}
            No comments.
        {{ end }}
    </section>
{{ end }}
