{{ template "head" $ }}
[<a href="/admin/permissions/sections">Back to sections</a>]<br/>
<h3>Permissions for {{ .Section }}</h3>
<table border="1">
    <tr><th>ID</th><th>User</th><th>Email</th><th>Role</th></tr>
    {{ range .Rows }}
    <tr>
        <td>{{ .Idpermissions }}</td>
        <td>{{ .Username.String }}</td>
        <td>{{ .Email.String }}</td>
        <td>{{ .Role }}</td>
    </tr>
    {{ end }}
</table>
{{ template "tail" $ }}
