{{ template "head" $ }}
    <form method="get">
        <input name="search" value="{{$.Search}}">
        <input type="submit" name="task" value="Search">
    </form>
    {{if .Rows}}
        <span class="text-xlarge">All writers.</span><br>
        {{range .Rows}}
            Writer: <a href="/writings/writer/{{.Username.String}}">{{.Username.String}}</a> has {{.Count}} articles.<br>
        {{end}}
    {{else}}
        No writers here.
    {{end}}
{{ template "tail" $ }}
