{{ template "head" $ }}
<h2>Your Uploaded Images</h2>
{{- if .Images }}
<div class="gallery">
    {{- range .Images }}
    <div class="notification" class="inline-block-margin">
        <a href="{{ .Full }}" target="_blank"><img src="{{ .Thumb }}" alt="image"></a><br>
        <code>{{ .A4Code }}</code>
    </div>
    {{- end }}
    </div>
{{- else }}
<p>No images uploaded.</p>
{{- end }}
{{ template "tail" $ }}
