{{ template "head" $ }}
<form method="post">
    {{ csrfField }}
    <input type="checkbox" name="enable" value="1" {{ if .Enabled }}checked{{ end }}> Enable my public profile<br>
    <input type="submit" name="task" value="Save public profile">
</form>
<p>
    Link to your public profile: <a href="/user/profile/{{ .Username }}">{{ .Username }}</a>
</p>
{{ template "tail" $ }}
