{{ template "head" $ }}
<h1>Maintenance Task {{ if .IsPreview }}Preview{{ else }}Summary{{ end }}</h1>
<div style="margin-bottom: 20px;">
    <p>{{ if .IsPreview }}Preview{{ else }}Merge{{ end }} completed. The following topics {{ if .IsPreview }}would be{{ else }}were{{ end }} merged:</p>
</div>

{{ if .Groups }}
	<ul>
	{{ range .Groups }}
		<li>
			<strong>Primary Topic ID:</strong> {{ .PrimaryTopicID }}<br>
			<strong>Merging Topic IDs:</strong> {{ range $index, $id := .MergedTopicIDs }}{{ if $index }}, {{ end }}{{ $id }}{{ end }}<br>
			<strong>Participants:</strong> {{ range $index, $p := .Participants }}{{ if $index }}, {{ end }}{{ $p }}{{ end }}
		</li>
	{{ end }}
	</ul>
{{ else }}
	<p>No topics found to merge.</p>
{{ end }}

{{ if .IsPreview }}
<br>
<form method="post" action="/admin/maintenance" class="inline-form" style="margin-bottom: 20px;">
  <input type="hidden" name="task" value="{{ .TaskName }}">
  <input type="hidden" name="preview" value="false">
  <input type="submit" value="Execute Merge Private Forums With Same Participants">
</form>
{{ end }}

<br>
<a href="/admin/maintenance">Back to Maintenance</a>
{{ template "tail" $ }}
