{{ template "head" $ }}
<p>Reset password options for user {{ .User.Username.String }}:</p>
<form method="post">
    {{ csrfField }}
    <button type="submit" name="task" value="Force Password Change">Force Password Change</button>
    <button type="submit" name="task" value="Send Reset Email">Send Reset Email</button>
    <button type="submit" name="task" value="Generate Reset Link">Generate Reset Link</button>
</form>
<p><a href="{{ .Back }}">Cancel</a></p>
{{ template "tail" $ }}
