{{ template "partials/head.gohtml" $ }}
<form method="post">
        {{ csrfField }}
    Page size:
    <input type="number" name="size" value="{{.Size}}" min="{{.Min}}" max="{{.Max}}"><br>
    <input type="submit" name="task" value="Save size">
</form>
{{ template "partials/tail.gohtml" $ }}
