{{ template "head" $ }}
<form method="post" action="/admin/imagebbs/board">
    {{ csrfField }}
    Name: <input name="name" value=""><br>
    Description: <textarea name="desc" cols="40" rows="5"></textarea><br>
    Parent Board: <select name="pbid"><option value="0">None</option>{{ range .Boards }}<option value="{{ .Idimageboard }}">{{ .Title.String }}</option>{{ end }}</select><br>
    <input type="submit" name="task" value="New board">
</form>
{{ template "tail" $ }}
