{{ template "head" $ }}
{{- if $.Errors }}
        Errors occurred:
        <ul>
        {{- range $.Errors }}
                <li>{{- .}}</li>
        {{- end }}
        </ul>
{{- else }}
        Task completed successfully.
{{- end }}
<a href="{{$.Back}}">Back</a>
{{ template "tail" $ }}