{{ template "head" $ }}
The admin is automated, it came alive. Effectively making humans useless in the process of computer aided computer interaction. So all we can tell you now is that the time is now {{now}}!
{{ template "tail" $ }}