{{ template "head" $ }}
    [<a href="/admin">Admin:</a> <a href="/admin/search/list">(This page/Refresh)</a>]<br />
                        Complete word list with counts:<ul>
                        {{range $.Rows}}
                                <li>{{.Word.String}} - {{.Count}}</li>
                        {{- end}}
                        </ul>
                        {{if $.PrevLink}}<a href="{{$.PrevLink}}">Previous</a>{{end}}
                        {{if $.NextLink}}<a href="{{$.NextLink}}">Next</a>{{end}}
{{ template "tail" $ }}