{{ template "head" $ }}
    {{ template "topicBreadcrumbs" $ }}

    {{ template "getAllForumCategories" $ }}

    <a href="/forum/topic/{{.Topic.Idforumtopic}}/thread">New Thread</a><br />

    {{ template "topicThreads" $ }}
{{ template "tail" $ }}