{{ template "head" $ }}
    <table border="1">
        <tr>
            <th>ID
            <th>Parent ID
            <th>Title
            <th>Description
            <th>Child Category Count
            <th>Options?
        </tr>
        {{ range .Categories }}
        <tr>
            <form method="post">
                <td>{{ .Idforumcategory }}
                <td>{{ .ForumcategoryIdforumcategory }}
                <td><input name="name" value="{{ .Title.String }}">
                <td><textarea name="desc">{{ .Description.String }}</textarea>
                <td>{{ .Subcategorycount }}
                <td>
                    <input type="hidden" name="cid" value="{{ .Idforumcategory }}">
                    <input type="submit" name="task" value="Forum category change">
                </td>
            </form>
        </tr>
        {{ end }}
    </table>
{{ template "tail" $ }}