{{define "header"}}
<strong>Arran4</strong>'s website.
{{ if $.Announcement }}<br>
<a href="/news/news/{{ $.Announcement.Idsitenews }}"><strong>{{ $.Announcement.News.String }}</strong></a>
{{ end }}
{{end}}
