{{- define "index"}}
    {{- template "indexItems" $ }}
    {{ if $.UserID }}
        <hr>
        <a href="/usr/logout">Logout</a><br>
    {{ else }}
        <a href="/register">Register</a><br>
        <a href="/login">Login</a><br>
    {{ end }}
    {{ range $i := $.CustomIndexItems }}
        <a href="{{ $i.Link }}">{{ $i.Name }}</a><br>
    {{ end }}
    {{ if eq $.SecurityLevel "administrator"}}
        <hr>
        <a href="/admin">Control center</a><br>
    {{ end }}
{{- end}}
