{{- define "index"}}
    {{- template "indexItems" $ }}
    {{ if $.UserID }}
        <hr>
        <a href="/logout">Logout</a><br>
        {{ if eq $.SecurityLevel "administrator"}}
            <a href="/admin">Admin page of mystery</a><br>
        {{ end }}
    {{ else }}
        <a href="/register">Register</a><br>
        <a href="/login">Login</a><br>
    {{ end }}
        {{ if and (eq $.SecurityLevel "administrator") $.AdminChecked}}
            <hr>Admin tools:<br>
            <a href="/admin/users">Person Controls</a><br>
            <a href="/admin/users/permissions">Permission Controls</a><br>
            <a href="/admin/language">Language Controls</a><br>
            <a href="/admin/search">Search Controls</a><br>
            <a href="/admin/forum">Forum Controls</a><br>
        {{ end }}
{{- end}}
