{{ template "head" $ }}
    {{ range $i, $cpu := .System.Processors }}
        Processor {{ $i }} is a {{ $cpu.VendorID }} {{ $cpu.ModelName }} with {{ $cpu.Mhz }}MHz and {{ $cpu.CacheSize }} cache.<br>
    {{ end }}
    <br>
    Load averages are: {{ .System.LoadAverage.Load1 }} {{ .System.LoadAverage.Load5 }} {{ .System.LoadAverage.Load15 }}<br>
    The server has been up for: {{ .System.Uptime }} and is {{ .System.IdlePercent }}% idle.<br>
    <br>
    The time is now {{ now }}
{{ template "tail" $ }}