{{ template "head" $ }}
Register:<br>
<form method="post">
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br>
    EmailAdr: <input name="email"><br>
    <input type="submit" name="task" value="Register">
</form>
{{ template "tail" $ }}