{{ template "head" $ }}
    Search blogs:<br>
    {{- with .Blogs }}
    	{{- if eq . "noResults" }}
    		<p>Nothing found.</p>
    	{{- else if eq . "emptyWords" }}
    		<p>Not enough words, words too small, or no words. Please re-enter, add more, larger, or some words.</p>
    	{{- else }}
    		<ul>
    		{{- range $i, $result := . }}
    			<li>{{ $i }}: <a href="/blogs/blog/{{$result.Idblogs}}">{{ $result.Text.String }}</a></li>
    		{{- end }}
    		</ul>
    	{{ end }}
    {{- end }}
    <br>
    Comment search:<br>
    {{ template "commentSearchResults" $ }}
    <br>
{{ template "tail" $ }}