{{ define "showLinkInput" }}
    <form method="post" action="?">
        <label>Title <input name="title" value=""></label><br>
        <label>URL <input name="URL" value=""></label><br>
        <label>Description:<br><textarea name="desc" cols="40" rows="20"></textarea></label><br>
        {{ lang_combobox . .Pref.DefaultLang }}
        {{ category_combobox . 0 }}
        <input type="submit" name="task" value="{{ .Type }}">
    </form>
{{ end }}
