{{ template "head" $ }}
<form method="post">
    Min page size:
    <input type="number" name="min" value="{{.Min}}"><br>
    Max page size:
    <input type="number" name="max" value="{{.Max}}"><br>
    Default page size:
    <input type="number" name="default" value="{{.Def}}"><br>
    <input type="submit" name="task" value="Save all">
</form>
{{ template "tail" $ }}
