{{ template "head" $ }}
    User preferences:<br><br>
    Modify <a href="/user/lang">Language settings</a><br>
    Modify <a href="/user/email">Email and notification settings</a><br>
{{ template "tail" $ }}