{{ define "writingCategoryBreadcrumbs" }}
    [
    <a href="?{{ if .Admin }}section=modifycategories{{ else }}section=list{{ end }}">Writings</a>:
    {{ range .Result }}
        {{ $id1 := .IDWritingCategory }}
        {{ $title1 := .Title }}
        {{ $id2 := .IDWritingCategory2 }}
        {{ $title2 := .Title2 }}
        {{ if $id1 }}
            {{ $tmp1 := $title1 | html }}
            <a href="?{{ if .Admin }}section=modifycategories{{ else }}section=list{{ end }}&category={{ $id1 }}">{{ $tmp1 }}</a>:
        {{ end }}
        {{ if $id2 }}
            {{ $tmp2 := $title2 | html }}
            <a href="?{{ if .Admin }}section=modifycategories{{ else }}section=list{{ end }}&category={{ $id2 }}">{{ $tmp2 }}</a>:
        {{ end }}
    {{ end }}
    <a href="?{{ if .Admin }}section=modifycategories{{ else }}section=list{{ end }}&category={{ .Category }}">(This-category/Refresh)</a>
    ]<br>
{{ end }}
