{{ template "head" $ }}
    <p class="text-error">{{ .Error }}</p>
    Login:<br>
    <form method="post" action="/login">
        {{ csrfField }}
        {{- if .BackURL }}
        <input type="hidden" name="back" value="{{ .BackURL }}">
        {{- end }}
        {{- if .Method }}
        <input type="hidden" name="method" value="{{ .Method }}">
        {{- end }}
        {{- if .Data }}
        <input type="hidden" name="data" value="{{ .Data }}">
        {{- end }}
        Username: <input name="username"><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" name="task" value="Login">
        <br><a href="/forgot">Forgot password?</a>
    </form>
    {{ if cd.WebAuthn }}
    <hr>
    <h3>Login with Passkey</h3>
    <form id="passkey-login-form">
        {{ csrfField }}
        {{- if .BackURL }}
        <input type="hidden" name="back" value="{{ .BackURL }}">
        {{- end }}
        Username: <input type="text" name="username" required><br>
        <button type="submit">Login with Passkey</button>
    </form>
    <script src="{{ assetHash "/static/passkeys.js" }}"></script>
    {{ end }}
{{ template "tail" $ }}
