{{ template "head" $ }}
{{- if cd.CurrentError }}
<p class="text-error">{{ cd.CurrentError }}</p>
{{- end }}
<p>A verification code will be sent to your email address. The new password
only becomes active after you log in using this code.</p>
<form method="post">
    {{ csrfField }}
    Username: <input name="username"><br>
    New Password: <input name="password" type="password"><br>
    <input type="submit" name="task" value="Password Reset">
</form>
{{ template "tail" $ }}
