{{ template "head" $ }}
    <h1>Login Required</h1>
    <p><strong>{{ cd.OpenGraph.Title }}</strong></p>
    <p>{{ cd.OpenGraph.Description }}</p>
    <p>Please login to view this content.</p>
    <a class="button" href="{{ .LoginURL }}">Login</a>
{{ template "tail" $ }}
