{{ template "head" $ }}
{{- if $.Error }}
<p class="text-error">{{ $.Error }}</p>
{{- end }}
{{- if $.BackURL }}
<form action="{{ $.BackURL }}" method="POST">
    {{ range $k, $v := .Form }}
        {{ range $val := $v }}
            <input type="hidden" name="{{ $k }}" value="{{ $val }}">
        {{ end }}
    {{ end }}
    <button type="submit" onclick="if(history.length>1){history.back();return false;}">Return to editing</button>
</form>
{{- end }}
{{ template "tail" $ }}
