{{define "header"}}
<strong>Arran's Site</strong>
{{ if $.Announcement }}<br>
<a href="/news/news/{{ $.Announcement.Idsitenews }}"><strong>{{ $.Announcement.News.String }}</strong></a>
{{ end }}
{{end}}
