{{ define "threadComments" }}
    {{ if gt $.Offset 0 }}
        <br>Skipping {{ $.Offset }} comments.<br><br><br>
    {{ end }}
    {{range $.Comments }}
		{{ template "comment" . }}
    {{end}}
{{ end }}