{{ define "topicBreadcrumbs" }}
    [
        <a href="/forum">Forum:</a>
        {{ range .CategoryBreadcrumbs }}
            <a href="/forum/category/{{.Idforumcategory}}">{{.Title.String}}</a>:
        {{ end }}
        <a href="/forum/topic/{{.Topic.Idforumtopic}}">(This topic/Refresh)</a>
    ]<br />
{{ end }}