{{ define "newsPage" }}
    {{ template "partials/head.gohtml" $ }}
        {{ range LatestNews }}
            {{ template "newsPost" . }}
        {{ else }}
            <p>There is no news.</p>
        {{ end }}
    {{ template "partials/tail.gohtml" $ }}
{{ end }}
