<article class="thread">
    <header class="thread-header">{{ cd.LocalTime (now) }}</header>
    <div class="thread-content">{{ .Content | a4code2html }}<br>-<br>{{ .Username }}
        -
        [<a href="#">0 COMMENTS</a>]
    </div>
</article>
