{{ define "writingsCategoryPage" }}
    {{ template "partials/head.gohtml" $ }}
        {{ template "writingCategoryBreadcrumbs" $ }}
        {{ template "listWritingCategories" $ }}
        {{ template "listAbstracts" $ }}
    {{ template "partials/tail.gohtml" $ }}
{{ end }}
