name: Lint & Vet

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
        tags:
          - 'nosqlite'
          - 'nosqlite,s3'
          - 'nosqlite,sendgrid'
          - 'nosqlite,ses'
          - 'nosqlite,s3,sendgrid,ses'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.64
        args: --build-tags '${{ matrix.tags }}'
    - name: Vet
      run: go vet -tags '${{ matrix.tags }}' ./...
