name: lint-vet

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint-vet:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tags:
          - 'nosqlite'
          - 'nosqlite,s3'
          - 'nosqlite,sendgrid'
          - 'nosqlite,ses'
          - 'nosqlite,s3,sendgrid,ses'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Go Vet
        run: go vet -tags '${{ matrix.tags }}' ./...
      - name: Golangci Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v1.61
          args: --build-tags '${{ matrix.tags }}'
