name: Lint & Vet

on:
  push:
  pull_request:

jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
        tags:
          - 'nosqlite'
          - 'nosqlite,s3'
          - 'nosqlite,sendgrid'
          - 'nosqlite,ses'
          - 'nosqlite,s3,sendgrid,ses'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - name: Go Vet
        run: go vet -tags '${{ matrix.tags }}' ./...
      - name: Golangci Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          install-mode: goinstall
          args: --build-tags '${{ matrix.tags }}'
